IyBJREVzIGFuZCBlZGl0b3JzCi5pZGVhCiouaW1sCiouaXdzCi5wcm9qZWN0Ci5jbGFzc3BhdGgKKi5sYXVuY2gKLnNldHRpbmdzCiouc3VibGltZS13b3Jrc3BhY2UKLnZzY29kZQoKIyBEZXBlbmRlbmN5IGRpcmVjdG9yaWVzCm5vZGVfbW9kdWxlcwoKIyBUeXBlU2NyaXB0IGNhY2hlCioudHNidWlsZGluZm8KCiMgTG9ncwpsb2dzCioubG9nCm5wbS1kZWJ1Zy5sb2cqCgojIFBhY2thZ2VkIFN1aXRlQ2xvdWQgcHJvamVjdHMKYnVpbGQKCiMgbWlzYwouc2Fzcy1jYWNoZQoKIyBPcHRpb25hbCBucG0gY2FjaGUgZGlyZWN0b3J5Ci5ucG0KCiMgU3lzdGVtIEZpbGVzCi5EU19TdG9yZQpUaHVtYnMuZGIKCiMgT3V0cHV0IG9mICducG0gcGFjaycKKi50Z3oKCiMgUHJvamVjdCBjb25maWcKcHJvamVjdC5qc29uCg==